body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url(images/0.png);
}

.a {
  background-image: url(images/1.png)
}

.s {
  background-image: url(images/2.png)
}

.d {
  background-image: url(images/3.png)
}

.j {
  background-image: url(images/4.png)
}

.k {
  background-image: url(images/5.png)
}

.l {
  background-image: url(images/6.png)
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.animation
{
  animation-name: stretch;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;  
            
}

@keyframes stretch {
  0% {
      transform: scale(.5);
      background-color: green;
      border-radius: 100%;
  }

  50% {
      background-color: orange;
  }

  100% {
      transform: scale(2.0);
      background-color: red;
  }
}

